@import url('clash-display.css');


font-family: ClashDisplay-Extralight;
font-family: ClashDisplay-Light;
font-family: ClashDisplay-Regular;
font-family: ClashDisplay-Medium;
font-family: ClashDisplay-Semibold;
font-family: ClashDisplay-Bold;
font-family: ClashDisplay-Variable;


/*bgcolor offwhite, fontcolor darkgreen, bg color vintagegreen*/
/*background-color: #F7F6F1;
color:#07160C;
color:#082F1F;*/


html {
  scroll-behavior: smooth;
}



* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  text-decoration: none;
}


body {
/*  height: 3000px; */
  /* Used to enable scrolling */
/*  background: linear-gradient(55deg, #F7F6F1 0%, #F7F6F1 51%, #FFFFFF 85%);*/
}



body {
/*  font-family: AreaNormalTrial-Regular,Arial, sans-serif;*/
/*  font-family:"AreaNormalTrial-Regular";*/
/*font-family: "Gerstner Programm FSL" ;*/
font-family: ClashDisplay-Medium;
font-weight: 300;
color:#07160C;
background-color: #F7F6F1;
/*font-family: "Silk Serif";*/
/*Font-style: regular;*/
  margin: 0;
  padding: 0;
}


/*@font-face {
  font-family:"area-trial";
  src:url("..fonts/area-trial/AreaNormalTrial-Regular.otf");
  font-weight:normal;
  font-style:normal;
}


@font-face {
  font-family:"ApocNormal-Regular";
  src:url("..fonts/apoc/ApocNormal-Regular.otf");
  font-weight:normal;
  font-style:normal;
}



@font-face {
  font-family:"Gerstner Programm FSL";
  src:url("..fonts/Gerstner Programm FSL/GerstnerProgrammFSL-Regular.otf");
  font-weight:normal;
  font-style:normal;
}




@font-face {
  font-family:"Silk Serif";
  src:url("..fonts/Silk Serif/Silk Serif Regular.otf");
  font-weight:normal;
  font-style:normal;
}
*/


/*All devices and mobile phone*/
/*body:before {
  content: 'mobile';
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  padding: 0.5em;
  right: 0;
  top: 0;
  color: white;
  z-index: 1;
}*/

.header-width{
  width: 100%;
/*  border: solid 1px salmon;*/
  background-color: #F7F6F1;
  height:6em;
  position:fixed;
  border-bottom: 1px #07160C outset;
}


#ClickOnMenu{
  width:90%;
/*  border:solid 1px pink;*/
  margin:auto;
/*  font-weight:300;*/
/*  font-weight: 600;*/
font-size:1.3em;

}


#Logo{
 margin-top: -0.7em;
    font-size: 1.7em;
    line-height: 0.9em;
    margin-left: 0.7em;
/*    font-weight: 700;*/
/*    font-family:"Silk Serif Regular";*/
  }



#Logo a{
  color: black;
  
}

#ToggleDownMenu, #ClickOnMenu {
/*  padding: 5px;*/
padding-top:0.7em;
  text-align: right;
  /*background-color: #e5eecc;
  border: solid 1px #c3c3c3;*/

}

#ToggleDownMenu{
/*  padding: 50px;*/
/*padding-top:5em;*/
  display: none;
  width:100%;
/*  border:1px solid pink;*/
  z-index: 100;
/*  background-color:#ffed00;*/
  background-color:#E3FF0A;
  background-color:#DED847;
  margin-top:0.7em;
  height:100vh;
}

.menu-list{
/*      font-weight: 700;*/
    width: 90%;
    margin: auto;
    font-size: 2em;
/*    line-height: 2em;*/
/*    text-transform: uppercase;*/

}


.menu-list a{
  color:#07160C;
  font-weight:100;
  line-height:3em;
}
/*
li a{
  border: 1px solid red;
  padding-bottom:2em;
}
*/

/*.menu-link{
  padding-bottom:3em;
}
*/



.section_1{
      /* border: 1px solid blue; */
    /* height: 20em; */
    width: 90%;
    margin: auto;
    padding-top: 4em;
    font-size: 2em;
    font-weight: 600;
}


.TitleRepeatSection_1{
  padding-top:1em;
}



.section_2{
  font-size: 2em;
    color: black;
/*    padding-top: 3em;*/
    width:100%;
    margin:auto;
/*    border:1px solid blue;*/
/*    height:40em;*/
/*    font-family:"ApocNormal-Regular";*/
/*font-family: "Noto Serif Display", serif;*/
/*font-family: "Gerstner-ProgrammRegular";*/
font-family: ClashDisplay-Medium;
color:#07160C;
/*font-style:italic;*/
font-weight:300;

  }


/*swiper*/

/*  .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #eee;
 
}
*/

/*end of swiper*/

.Image_1{
/*  border: 1px solid red;*/
/*  height:5em;*/
  background: url(../img/Image_1.jpg) no-repeat center center;
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
/*    height: 100vh;*/
    height:100vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}




.OnThisPageRC{
    border-bottom: 1px #07160C outset;
    padding-top: 1em;

}



.OnThisPage{
  width: 90%;
    margin: auto;
    padding-top: 0.5em;
    font-weight: 600;
  font-family: ClashDisplay-Medium;

}




.TitleRepeatSection_2{
    width: 90%;
    margin: auto;
    padding-top: 0.5em;
    text-decoration: underline;
    font-weight: 600;
  font-family: ClashDisplay-Medium;
}


.HREF_2{
  color:#07160C;
}



.section_3{
  width:90%;
  margin:auto;
  border: 1px pink outline;
/*  height: 20em;*/
}


.TitleRepeatSection{
        font-size: 2em;
    font-weight: 600;
    color: #07160C;
    padding-top: 2em;
  font-family: ClashDisplay-Medium;
}


.Paragraph{
padding-top:1em;
font-family: ClashDisplay-Light;
font-size:22px;
 color: #07160C;

}



.PS3{
  font-size: 1em;
  font-weight:300;
  color:#07160C;


}


/*for small tablet - inclusive*/
@media only screen and (min-width:40em) {
  body:before {
    content: 'tablet';
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    padding: 0.5em;
    right: 0;
    top: 0;
  }
}

/*for small tablet - exclusive - use with care*/
@media only screen and (min-width:40em) and (max-width:59.99999em) {
}


/*for tablet - inclusive*/
@media only screen and (min-width:60em) {
}

/*for destop - inclusive*/
@media only screen and (min-width:80em) {
  body:before {
    content: 'desktop';
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    padding: 0.5em;
    right: 0;
    top: 0;
  }
}


